<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "Category name", required: true %>
  </div>

  <div class="field">
    <%= form.text_field :icon, placeholder: "Icon url", required: true %>
  </div>

  <div class="field">
    <%= form.text_field :user_id, placeholder: "user id" %>
  </div>

  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
