<div class="group-item">
  <img src="<%= group.icon %>" alt="<%= group.name %>" >

  <div class="details">
    <div class="inner-details">
      <h4 class="small-heading">
        <%= group.name %>
      </h4>
      <p>
        <%= group.created_at.strftime('%d %b %y') %>
      </p>
    </div>
    <div class="outer-details">
      <% if action_name == 'index' %>
        <p>Total: <%= @group_totals&.[](group.id) %></p>
      <% elsif action_name == 'show' %>
        <p>Total amount: <%= group.expenses.sum(:amount) %></p>
      <% end %>
    </div>
  </div>
</div>
