<div class="group-item">
<img src="<%= group.icon %>" alt="<%= group.name %>" >

<div class="details">
  <div class="inner-details">
    <h4 class="small-heading">
      <%= group.name %>
   </h4>
  <p>
    <%= group.created_at.strftime('%d %b %y') %>
  </p>
  </div>
  <div class"outer-details">
  <p>Total amount: <%= @group_totals&.[](group.id) %></p>

  </div>
</div>
</div>