<section class="categories">
  <div class="nav">
    <h5>categories</h5>
    <% if current_user %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
  <% end %>
  </div>

  
  <p style="color: green", class="notice"><%= notice %></p>

  <ul id="groups">
    <% @groups.each do |group| %>
      <li class="group-category">
        <%= link_to group_path(group) do %>
          <%= render group %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add Category", new_group_path, class: "new-category" %>
</section>
