<section class="single-category">

<div class="nav">
<h5>transactions</h5>
</div>

<p style="color: green"><%= notice %></p>

<%= link_to "", groups_path, class: 'back' %>

<%= render @group %>

  <%= link_to "Edit this group", edit_group_path(@group) %>


  
  <%= button_to "Destroy this group", @group, method: :delete %>

</section>
