<section class="single-category">
<div class="nav expense">
<h5> Category | Expenses</h5>
  <%= button_to "Delete Category", @group, method: :delete, class: 'actions delete' %>
  <%= link_to "Edit Category", edit_group_path(@group), class: 'actions edit'%>
</div>

<p style="color: green", class="notice other"><%= notice %></p>

<%= link_to "", groups_path, class: 'back' %>

<%= render @group %>


<div class="expenses-list">
<% if @group.expenses.any? %>
<h4>Expenses</h4>
<table>
<thead>
<tr>
<th>Name</th>
<th>Amount</th>
<th>Date</th>
<th>Action</th>
</tr>
</thead>
        <tbody>
        <% @group.expenses.order(created_at: :desc).each do |expense| %>
          <tr>
          <td><%= expense.name %></td>
          <td class="amount">$<%= expense.amount %></td>
          <td><%= expense.created_at.strftime('%B %d, %Y') %></td>
          <td>
              <div class="action">
                  <%= link_to "View", group_expense_path(@group, expense), class: "table-view"  %>
                  <%= button_to "Delete", [@group, expense], method: :delete, data: { confirm: 'Are you sure?' }, class: "table-delete"  %>
              </div>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  
  <%= link_to "Add expense", new_group_expense_path(@group), class: "new-expense" %>

  </section>
  